.edit {
  width: 200px;
  height: 45px;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 10px;
}

.btn {
  width: 200px;
  height: 45px;
  border: 4px solid gray;
  border-radius: 10px;
  color: brown;
  background-color: aqua;
  text-align: center;
}
